
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

<h2>Админка</h2>

<ul class="list-group list-group-horizontal">
    <li class="list-group-item"><a href="#" onclick="return openProductsform()">Products</a></li>
    <li class="list-group-item"><a href="#" onclick="return openProductsform()">Clients</a></li>
    <li class="list-group-item"><a href="#" onclick="return openProductsform()">Sellers</a></li>
    <li class="list-group-item"><a href="#" onclick="return openProductsform()">Sales</a></li>
</ul>

<div id="loader">
    <h2>Идет загрузка данных...</h2>
    <div class="load_spinner"></div>
</div>

<div class="lines">
    <div id="window"></div>
    <div id="modalWindow"></div>
</div>

<script>
    /*Products*/
    function openProductsform() {
        $('#window').load('@Url.Action("LoadProducts", "Admin")');
    }

    openEditProductform = function (id) {
        $('#modalWindow').load('@Url.Action("EditProduct", "Admin")/' + id);
    }

    function DeleteProduct(number) {

        $.ajax({
            url: '@Url.Action("DeleteProduct", "Admin")/' + number,
            type: 'POST',
            success: function (result) {
                if (result.result == true) {
                    openProductsform();
                }
                else {
                    alert("Нельзя удалить продукт!");
                }
            }
        });
    }
</script>