body {
    padding-bottom: 20px;
    margin: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*------ Layout --------*/

a {
    font-family: 'Besley', serif;
    text-decoration: none;
}

li {
    list-style-type: none;
}

body {
    font-family: Cambria, Georgia, "Times New Roman";
}

div#header div.title, div.item.h3, div.item h4, div.pager {
    font: bold 1em "Arial Narrow", "Franklin Gothic Medium", Arial;
}

div#header {
    background-color: #444;
    border-bottom: 2px solid #111;
    color: white;
    margin: 0;
}

div#header div.title {
    font-size: 2em;
    padding: .6em;
}

DIV#content {
    border-left: 2px solid gray;
    height: 547px;
    padding: 1em;
    margin-left: 9em;
}

div#categories {
    float: left;
    width: 8em;
    padding: .3em;
}

div.item {
    border-top: 1px dotted gray;
    padding-top: .7em;
    margin-bottom: .7em;
}

div.item::after first-child {
    border-top: none;
    padding-top: 0;
}

div.item h3 {
    font-size: 1.3em;
    margin: 0 0 .25em 0;
}

div.item h4 {
    font-size: 1.1em;
    margin: .4em 0 0 0;
}

div.pager {
    text-align: right;
    border-top: 2px solid silver;
    padding: .5em 0 0 0;
    margin-top: 1em;
}

div.pager a {
    font-size: 1.1em;
    color: #666;
    text-decoration: none;
    padding: 0 .4em 0 .4em;
}

div.pager a:hover {
    background-color: silver;
}

div.pager a.selected {
    background-color: #353535;
    color: white;
}

.lines {
    margin-left: 50px;
    margin-top: 50px;
}

/*--------Loader----------*/
.loader {
    margin: 100px auto;
    font-size: 10px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load5 1.1s infinite ease;
    animation: load5 1.1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

@-webkit-keyframes load5 {
    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em #585050, 1.8em -1.8em 0 0em rgba(88,80,80, 0.2), 2.5em 0em 0 0em rgba(88,80,80, 0.2), 1.75em 1.75em 0 0em rgba(88,80,80, 0.2), 0em 2.5em 0 0em rgba(88,80,80, 0.2), -1.8em 1.8em 0 0em rgba(88,80,80, 0.2), -2.6em 0em 0 0em rgba(88,80,80, 0.5), -1.8em -1.8em 0 0em rgba(88,80,80, 0.7);
    }

    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(88,80,80, 0.7), 1.8em -1.8em 0 0em #585050, 2.5em 0em 0 0em rgba(88,80,80, 0.2), 1.75em 1.75em 0 0em rgba(88,80,80, 0.2), 0em 2.5em 0 0em rgba(88,80,80, 0.2), -1.8em 1.8em 0 0em rgba(88,80,80, 0.2), -2.6em 0em 0 0em rgba(88,80,80, 0.2), -1.8em -1.8em 0 0em rgba(88,80,80, 0.5);
    }

    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(88,80,80, 0.5), 1.8em -1.8em 0 0em rgba(88,80,80, 0.7), 2.5em 0em 0 0em #585050, 1.75em 1.75em 0 0em rgba(88,80,80, 0.2), 0em 2.5em 0 0em rgba(88,80,80, 0.2), -1.8em 1.8em 0 0em rgba(88,80,80, 0.2), -2.6em 0em 0 0em rgba(88,80,80, 0.2), -1.8em -1.8em 0 0em rgba(88,80,80, 0.2);
    }

    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(88,80,80, 0.2), 1.8em -1.8em 0 0em rgba(88,80,80, 0.5), 2.5em 0em 0 0em rgba(88,80,80, 0.7), 1.75em 1.75em 0 0em #585050, 0em 2.5em 0 0em rgba(88,80,80, 0.2), -1.8em 1.8em 0 0em rgba(88,80,80, 0.2), -2.6em 0em 0 0em rgba(88,80,80, 0.2), -1.8em -1.8em 0 0em rgba(88,80,80, 0.2);
    }

    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(88,80,80, 0.2), 1.8em -1.8em 0 0em rgba(88,80,80, 0.2), 2.5em 0em 0 0em rgba(88,80,80, 0.5), 1.75em 1.75em 0 0em rgba(88,80,80, 0.7), 0em 2.5em 0 0em #585050, -1.8em 1.8em 0 0em rgba(88,80,80, 0.2), -2.6em 0em 0 0em rgba(88,80,80, 0.2), -1.8em -1.8em 0 0em rgba(88,80,80, 0.2);
    }

    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(88,80,80, 0.2), 1.8em -1.8em 0 0em rgba(88,80,80, 0.2), 2.5em 0em 0 0em rgba(88,80,80, 0.2), 1.75em 1.75em 0 0em rgba(88,80,80, 0.5), 0em 2.5em 0 0em rgba(88,80,80, 0.7), -1.8em 1.8em 0 0em #585050, -2.6em 0em 0 0em rgba(88,80,80, 0.2), -1.8em -1.8em 0 0em rgba(88,80,80, 0.2);
    }

    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(88,80,80, 0.2), 1.8em -1.8em 0 0em rgba(88,80,80, 0.2), 2.5em 0em 0 0em rgba(88,80,80, 0.2), 1.75em 1.75em 0 0em rgba(88,80,80, 0.2), 0em 2.5em 0 0em rgba(88,80,80, 0.5), -1.8em 1.8em 0 0em rgba(88,80,80, 0.7), -2.6em 0em 0 0em #585050, -1.8em -1.8em 0 0em rgba(88,80,80, 0.2);
    }

    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(88,80,80, 0.2), 1.8em -1.8em 0 0em rgba(88,80,80, 0.2), 2.5em 0em 0 0em rgba(88,80,80, 0.2), 1.75em 1.75em 0 0em rgba(88,80,80, 0.2), 0em 2.5em 0 0em rgba(88,80,80, 0.2), -1.8em 1.8em 0 0em rgba(88,80,80, 0.5), -2.6em 0em 0 0em rgba(88,80,80, 0.7), -1.8em -1.8em 0 0em #585050;
    }
}

@keyframes load5 {
    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em #585050, 1.8em -1.8em 0 0em rgba(88,80,80, 0.2), 2.5em 0em 0 0em rgba(88,80,80, 0.2), 1.75em 1.75em 0 0em rgba(88,80,80, 0.2), 0em 2.5em 0 0em rgba(88,80,80, 0.2), -1.8em 1.8em 0 0em rgba(88,80,80, 0.2), -2.6em 0em 0 0em rgba(88,80,80, 0.5), -1.8em -1.8em 0 0em rgba(88,80,80, 0.7);
    }

    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(88,80,80, 0.7), 1.8em -1.8em 0 0em #585050, 2.5em 0em 0 0em rgba(88,80,80, 0.2), 1.75em 1.75em 0 0em rgba(88,80,80, 0.2), 0em 2.5em 0 0em rgba(88,80,80, 0.2), -1.8em 1.8em 0 0em rgba(88,80,80, 0.2), -2.6em 0em 0 0em rgba(88,80,80, 0.2), -1.8em -1.8em 0 0em rgba(88,80,80, 0.5);
    }

    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(88,80,80, 0.5), 1.8em -1.8em 0 0em rgba(88,80,80, 0.7), 2.5em 0em 0 0em #585050, 1.75em 1.75em 0 0em rgba(88,80,80, 0.2), 0em 2.5em 0 0em rgba(88,80,80, 0.2), -1.8em 1.8em 0 0em rgba(88,80,80, 0.2), -2.6em 0em 0 0em rgba(88,80,80, 0.2), -1.8em -1.8em 0 0em rgba(88,80,80, 0.2);
    }

    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(88,80,80, 0.2), 1.8em -1.8em 0 0em rgba(88,80,80, 0.5), 2.5em 0em 0 0em rgba(88,80,80, 0.7), 1.75em 1.75em 0 0em #585050, 0em 2.5em 0 0em rgba(88,80,80, 0.2), -1.8em 1.8em 0 0em rgba(88,80,80, 0.2), -2.6em 0em 0 0em rgba(88,80,80, 0.2), -1.8em -1.8em 0 0em rgba(88,80,80, 0.2);
    }

    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(88,80,80, 0.2), 1.8em -1.8em 0 0em rgba(88,80,80, 0.2), 2.5em 0em 0 0em rgba(88,80,80, 0.5), 1.75em 1.75em 0 0em rgba(88,80,80, 0.7), 0em 2.5em 0 0em #585050, -1.8em 1.8em 0 0em rgba(88,80,80, 0.2), -2.6em 0em 0 0em rgba(88,80,80, 0.2), -1.8em -1.8em 0 0em rgba(88,80,80, 0.2);
    }

    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(88,80,80, 0.2), 1.8em -1.8em 0 0em rgba(88,80,80, 0.2), 2.5em 0em 0 0em rgba(88,80,80, 0.2), 1.75em 1.75em 0 0em rgba(88,80,80, 0.5), 0em 2.5em 0 0em rgba(88,80,80, 0.7), -1.8em 1.8em 0 0em #585050, -2.6em 0em 0 0em rgba(88,80,80, 0.2), -1.8em -1.8em 0 0em rgba(88,80,80, 0.2);
    }

    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(88,80,80, 0.2), 1.8em -1.8em 0 0em rgba(88,80,80, 0.2), 2.5em 0em 0 0em rgba(88,80,80, 0.2), 1.75em 1.75em 0 0em rgba(88,80,80, 0.2), 0em 2.5em 0 0em rgba(88,80,80, 0.5), -1.8em 1.8em 0 0em rgba(88,80,80, 0.7), -2.6em 0em 0 0em #585050, -1.8em -1.8em 0 0em rgba(88,80,80, 0.2);
    }

    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(88,80,80, 0.2), 1.8em -1.8em 0 0em rgba(88,80,80, 0.2), 2.5em 0em 0 0em rgba(88,80,80, 0.2), 1.75em 1.75em 0 0em rgba(88,80,80, 0.2), 0em 2.5em 0 0em rgba(88,80,80, 0.2), -1.8em 1.8em 0 0em rgba(88,80,80, 0.5), -2.6em 0em 0 0em rgba(88,80,80, 0.7), -1.8em -1.8em 0 0em #585050;
    }
}

/*-------------------------------*/

/*---menu----*/