<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <div id="header">
        <div class="title">10th Element</div>
    </div>
    <div id="categories">
        We will put something        We will put something        We will put something        We will put something        We will put something
    </div>
    <div id="content">
        @RenderBody()
    </div>
   
</body>
</html>
